
<div class="jumbotron">
<h1 class="display-4">
<%= book.book_name %>
</h1>
<p class="lead"><strong>Author: </strong><%= book.author_name %></p>
<hr class="my-4">
<p>
<strong>Library name:</strong>
    <%= book.lib_name %> <br/>
<strong>Email:</strong>
    <%= book.email %><br/>
<strong>Phone:</strong>
    <%= book.phone %>
    <br/><br/>
</p>
</div>
